.smooth {
  @apply transition-all duration-300 text-shadow;
}

.hero > span {
  letter-spacing: -0.025em;
  text-shadow: 1px 1px 2px #00000063;
}

.logo {
  opacity: 1;
  height: clamp(6rem, 20vw, 8rem);
  margin: 0 auto 1.5rem;
}

.rails {
  color: #cc0000;
}

.vite {
  color: #ffac33;
}

.logo-bg {
  background-image: url("~/images/logo.png");
}
