:root {
  --vp-c-brand-1: #b91c1c;
  --vp-c-brand-2: #c81e1e;
  --vp-c-brand-3: #dc2626;
  --vp-c-brand-soft: rgb(185 28 28 / 12%);
  --vp-c-tip-1: #0284c7;
  --vp-c-tip-2: #0369a1;
  --vp-c-tip-3: #0ea5e9;
  --vp-c-tip-soft: rgb(14 165 233 / 8%);
  --vp-code-color: #476582;
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-bg: rgb(14 165 233 / 4%);
  --vp-custom-block-tip-code-bg: rgb(14 165 233 / 10%);
  --vp-button-brand-bg: #b91c1c;
  --vp-button-brand-hover-bg: #991b1b;
  --vp-button-brand-active-bg: #7f1d1d;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #dc2626 20%, #f59e0b 85%);
  --vp-home-hero-image-background-image: radial-gradient(circle, rgb(245 158 11 / 24%), rgb(220 38 38 / 12%) 45%, transparent 70%);
  --vp-home-hero-image-filter: blur(2.5rem);
}

.dark {
  --vp-c-brand-1: #fca5a5;
  --vp-c-brand-2: #f87171;
  --vp-c-brand-3: #ef4444;
  --vp-c-brand-soft: rgb(248 113 113 / 14%);
  --vp-c-tip-1: #7dd3fc;
  --vp-c-tip-2: #bae6fd;
  --vp-c-tip-3: #38bdf8;
  --vp-c-tip-soft: rgb(56 189 248 / 12%);
  --vp-code-color: #bae6fd;
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-bg: rgb(14 165 233 / 8%);
  --vp-custom-block-tip-code-bg: rgb(14 165 233 / 14%);
  --vp-button-brand-bg: #b91c1c;
  --vp-button-brand-hover-bg: #dc2626;
  --vp-button-brand-active-bg: #991b1b;
}

.VPHomeHero .image-src {
  max-width: 15rem;
  max-height: 15rem;
}

.vp-doc h2 .logo {
  display: inline-block;
  height: 32px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-top: 0;
  vertical-align: middle;
}

.vp-doc .custom-block.tip .custom-block-title {
  color: var(--vp-c-tip-1);
}

.vp-doc .custom-block.quote {
  border-color: var(--vp-c-tip-1);
  padding-top: 20px;
}
