/.bundle
/pkg
/test/mounted_app/test/dummy/log
/test/test_app/log
node_modules
.byebug_history
/test/test_app/tmp
yarn-debug.log*
yarn-error.log*
.yarn-integrity
/log
gemfiles/*.lock
.DS_Store

# Vite on Rails
/public/vite
/public/vite-dev
/public/vite-test
node_modules
*.local
.DS_Store

# Vitepress
dist
examples_dist
node_modules
coverage
.nyc_output
.rpt2_cache
.env
local.log
.DS_Store
e2e/reports
e2e/screenshots
__build__
playground_dist
yarn-error.log
temp
markdown
explorations
selenium-server.log

# Algolia
.algolia.env

# Hanami
.env.local
.env.*.local
