/.bundle
pkg
log
tmp
node_modules
.byebug_history
yarn-debug.log*
yarn-error.log*
.yarn-integrity
gemfiles/*.lock
.DS_Store

# Vite on Rails
/public/vite
/public/vite-dev
/public/vite-test
test/test_app/public/vite-production
node_modules
*.local
.DS_Store

# Vitepress
dist
examples_dist
node_modules
coverage
.nyc_output
.rpt2_cache
.env
local.log
.DS_Store
e2e/reports
e2e/screenshots
__build__
playground_dist
yarn-error.log
temp
markdown
explorations
selenium-server.log

# Algolia
.algolia.env

# Hanami
.env.local
.env.*.local

docs/pnpm-lock.yaml
