- @title = 'Vite ⚡️ Padrino'
%header
  %h1.banner
    %img.logo{ src: vite_asset_path('logo.svg') }
    %img.logo.logo-padrino{ alt: "Logo of Padrino blog", src: "http://padrinorb.com/images/logo-6475397a.svg"}/
    %span.vite Vite
    %span.padrino Padrino
