:root {
  --c-brand: #cc0000;
  --c-brand-light: #d53f3f;

  --bg-colored-light: #f7f3f3;
}

.custom-block.custom-block.tip {
  background-color: var(--bg-colored-light);
  border-color: var(--c-brand);
}
