:root {
  --c-brand: #cc0000;
  --c-brand-light: #d53f3f;

  --bg-colored-light: #f3f7f7;
}

.custom-block.custom-block.tip {
  background-color: var(--bg-colored-light);
  border-color: #00c7cc;
}

.custom-block.custom-block.tip a {
  color: #007d80;
}

.DocSearch.DocSearch {
  --docsearch-primary-color: var(--c-brand);
}

@media (min-width: 720px) {
  .nav-links.nav-links.nav-links {
    padding-top: 2px;
  }
}
