:root {
  --c-brand: #cc0000;
  --c-brand-light: #d53f3f;

  --bg-colored-light: #f3f7f7;
}

.custom-block.custom-block.tip {
  background-color: var(--bg-colored-light);
  border-color: #00c7cc;
}

.custom-block.custom-block.tip a {
  color: #007d80;
}

.DocSearch.DocSearch {
  --docsearch-primary-color: var(--c-brand);
}

.home-hero .image.image {
  max-height: 220px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

@media (min-width: 720px) {
  .nav-links.nav-links.nav-links {
    padding-top: 2px;
  }
}

kbd {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  font-size: 0.9rem;
  line-height: 10px;
  vertical-align: middle;
  background-color: #fafbfc;
  border-bottom-color: #d1d5da;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
