:root {
  --c-brand: #c00;
  --c-brand-light: #d53f3f;
  --c-contrast-light: #00c7cc;
  --bg-colored-light: #f3f7f7;
}

.custom-block.custom-block.tip {
  background-color: var(--bg-colored-light);
  border-color: var(--c-contrast-light);
}

.custom-block.custom-block.tip a {
  color: #007d80;
}

.DocSearch.DocSearch {
  --docsearch-primary-color: var(--c-brand);
}

.home-hero figure.figure {
  padding: 0;
}

.home-hero .image.image {
  height: 220px;
}

@media (min-width: 720px) {
  .home-hero.home-hero.home-hero {
    margin-top: 2rem;
  }
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

h2 .logo {
  height: 32px;
  margin-bottom: 4px;
  vertical-align: middle;
}

@media (min-width: 720px) {
  .nav-links.nav-links.nav-links {
    padding-top: 2px;
  }
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #d1d5da;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d5da;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 10px;
  padding: 5px;
  vertical-align: middle;
}

code kbd {
  font-size: 0.7rem;
  padding: 2px 5px;
}

code .token.inserted.token.inserted {
  color: var(--c-contrast-light);
}

[class*='language-'] pre {
  line-height: var(--code-line-height);
}
