header {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 20vh;
  place-content: center;
}

.logo {
  height: 0;
  opacity: 0;
}

.hero {
  box-sizing: border-box;
  font-size: clamp(4rem, 10vw, 4.5rem);
  line-height: 1;
  font-weight: 800;
  height: 128px;
  margin: 0 0 0 1rem;
  text-align: center;
}
