<header class="h-screen max-w-screen-lg xl:max-w-screen-xl mx-auto grid place-content-center">
  <h1 class="hero text-center text-4xl sm:text-6xl lg:text-7xl -mt-32 leading-none font-extrabold tracking-tight">
    Vite ⚡️ Rails
  </h1>
</header>
