<header class="relative z-10 max-w-screen-lg xl:max-w-screen-xl mx-auto">
  <h1 class="text-center text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 mt-10 mb-8 sm:mt-14 sm:mb-10">Vite ⚡️ Rails</h1>
</header>
