name: build

on: [push, pull_request]

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' || matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: [
          "3.1",
          "3.2",
          "3.3",
        ]
        gemfile: [
          "Gemfile-rails.6.1.x",
          "Gemfile-rails.7.0.x",
          "Gemfile-rails.7.1.x",
          "Gemfile-rails.7.2.x",
        ]
        experimental: [false]
        include:
          - ruby: "3.3"
            os: ubuntu-latest
            gemfile: Gemfile-rails-edge
            experimental: true
          - ruby: "3.4.0-preview1"
            os: ubuntu-latest
            gemfile: Gemfile-rails-edge
            experimental: true

    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}
      SECRET_KEY_BASE_DUMMY: 1

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Setup Code Climate test-reporter
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build

      - name: Ruby Tests
        run: bin/rake test

      - name: Upload code coverage to Code Climate
        if: ${{ contains(github.ref, 'main') }}
        run: |
          export GIT_BRANCH="${GITHUB_REF/refs\/heads\//}"
          ./cc-test-reporter after-build -r ${{secrets.CC_TEST_REPORTER_ID}}
