.hero > span {
  transition: all 0.3s ease;
  letter-spacing: -0.025em;
  text-shadow: 1px 1px 2px #00000063;
}

.logo {
  transition: all 0.3s ease;
  opacity: 1;
  height: clamp(6rem, 20vw, 8rem);
  margin: 0 auto 1.5rem;
}

.hanami {
  color: #8E43E8;
}

.vite {
  color: #ffac33;
}

